@font-face{
    font-family: 'BigNoodleTitling' ;
    src: url(Font/big_noodle_titling_oblique.ttf), format('truetype'); 
}
body{
    font-family: BigNoodleTitling;
}
.buttonhalter{
  margin: 150px 40%;
  display: inline-block;
}

.buttonhalter:hover .button{
 transform: translateY(-70px);
}

.button{
  margin-left: -100px;
  margin-top: -150px;
  width: 270px;
  height: 270px;
  background: url(Pictures/crate_deckel.png);
  background-size: contain;
  transition: all ease-in-out 0.3s;
}

.button:hover{
  
}

.button:hover p{
  color: #DDD;
}

.button > p{
  color: white;
  font-size: 50px;
  font-family: sans-serif;
  text-align: center;
  line-height: 100px;
}
#bg{
    margin: auto;
    margin-top: 70px;
    height: 360px;
    width: 640px;
    background: url(Pictures/crate.png);
    background-size: contain;
}
a {
    text-decoration: none;
    color: #000000;
    padding-left: 30px;
   /* border: solid red; */
}
a:hover{
    color: #00FFFF;
  /*  border: solid red; */
}    
nav {
    text-align: center;
    padding: 20px;
}
h1 {
    color: #ED4528;
    text-align: center;
}
div{
    color: rgba( 0, 0, 0, 0 );
    font-size: 1.15em;
}
.h:hover{
    color: rgba( 0, 0, 0, 1 );
}
#banner{
    height: 210px;
    width: 100%;
                          
    background: url(Pictures/banner.jpg) ;
    background-size: cover; 
}
#titel{
    margin: 40px;
    float: left;
                
    height: 130px;
    width: 600px;
    background: url(Pictures/game-logo-overwatch.png);
    background-size: cover;
}
#logo{
    margin: 10px;
    float: right;
    
    height: 50px;
    width: 50px;
    background: url(Pictures/logo.png) ;
    background-size: cover ;
}
polygon{
    opacity: 0;
}